*.env
.env
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
chapter/03_embedding/Milvus/volumes/
chapter/OCR_comparison/DeepSeek-OCR/.git
chapter/OCR_comparison/DeepSeek-OCR/deepseekocr/
chapter/OCR_comparison/DeepSeek-OCR/*.deb
chapter/OCR_comparison/DeepSeek-OCR/*.whl
chapter/OCR_comparison/DotsMOCR/.git
chapter/OCR_comparison/DotsMOCR/weights/
